# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# SQLite database
db.sqlite3

# Static files
/static/
/staticfiles/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/
*.swp
